{% extends 'taskslist/base.html' %}

{% block content %}
<div id="tasksmanager">
    <div class="list">
      {% if tasks %}
        <ul>
          {% for task in tasks %}
          <li class="card border-primary task-{{task.status}}">
              <div class="card-body text-primary">
                {{task.title}}
              </div>
              <div class="card-footer text-muted">
                  {{task.created_at|date:'Y-m-d H:i'}}
              </div>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <div class="alert alert-danger" role="alert">
          No hay tareas
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}

