{% extends 'taskslist/base.html' %}

{% block content %}
<div id="tasksmanager">
    <div class="tool">
      <a href="{% url 'tasksmanager:new' %}">Agregar una tarea</a>
    </div>
    <div class="list">
      {% if tasks %}
        <ul>
          {% for task in tasks %}
          <li>
            <div>
              {{task.title}}
            </div>
            <div>
              {{task.created_at}}
            </div>
            <div>
              {{task.status}}
            </div>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <div>No hay tareas</div>
      {% endif %}
    </div>
  </div>
{% endblock content %}

