{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Prueba de manejo de tareas">
    <meta name="author" content="Ismael Ramos">

    <title>Administración de tareas {% block title %}{% endblock title %}</title>

    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <!--<link rel="stylesheet" href="{% static "css/styles.css" %}">-->
</head>

<body>
    <header>
        {% block header %}{% endblock header %}
    </header>

    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    
    <script src="{% static '/js/hitsbook.js' %}"></script>
</body>
</html>
