{% extends 'tasksmanager/base.html' %}

{% block content %}
<div id="tasksmanager">
  <form method="post">
    <legend>Eliminar tarea</legend>
    <div>
      <div>Título: {{task.title}}</div>
      <div>Creada: {{task.created_at|date:'Y-m-d H:i'}}</div>
      <div>Estado: {{task.status}}</div>
    </div>
    <p>¿Desea eliminar la tarea?</p>
    <div class="form-actions">
      <a href="{% url 'tasksmanager:home' %}" class="btn btn-secondary btn-lg">
        Cancelar
      </a>
      <input type="submit" class="btn btn-success btn-lg" value="Confirm">
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock content %}
