{% extends 'tasksmanager/base.html' %}

{% block content %}
<div id="tasksmanager">
  <div class="tool">
    <a class="btn btn-primary btn-lg add-task" href="{% url 'tasksmanager:new' %}">
        <i class="fas fa-plus"></i> Agregar una tarea
    </a>
  </div>

  <div class="list">
    {% if tasks %}
      <ul>
        {% for task in tasks %}
        <li class="card border-primary task-{{task.status}}">
            <div class="card-body text-primary">
              <p>{{task.title}}</p>

              <p>
                {{task.created_at|date:'Y-m-d H:i'}}
              </p>
              
              <p>
                {{task.status}}
              </p>

              <div>
                  <a class="btn" href="{% url 'tasksmanager:edit' task.id %}" alt="Editar">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="btn" href="{% url 'tasksmanager:delete' task.id %}" alt="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                  </a>
              </div>
            </div>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="alert alert-danger" role="alert">
        No hay tareas
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
