{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src",
          "@themes": "./src/themes"
        }
      }
    ]
  ]
}
